
body {
  background-color: #C0C0C0;
  color: #44444;
  font-family: Times New Roman, Georgia, Garamond
  margin: 10% 20%
}

.exp-header {
  text-align: Center;
  text-transform: uppercase 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.25)
}
